*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    width: 250px;
    aspect-ratio: 1 / 2;
    background: rgb(252, 173, 229);
}

html,
body,
.container{
    height: 100%;
}

.container{
   display: flex;
}

.left,
.right{
    width: 50%;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure{
    width: 100%;
    height: 100%;
    line-height: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
